body {
    font-family: "Courier New", Courier, monospace;
}

.slider{
    padding-bottom: 4px;
    width: 180px;
}

th, td {
    padding-right: 20px;
}

#content {
    display: flex;
}

#controls {
    margin-left: 20px;
}